<br>
<h3 class="mb-3">Edit Profile</h3>
    <%if @user.errors.any? %>
            <%= render 'layouts/user-error' %>
    <% end %>

    <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :name, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
            <%= f.text_field :name, class:"form-control", value:@user.name,required:true%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :email, class:"col-form-label form-control-label" %>
        </div>
        <div class="col-md-9">
            <%= f.email_field :email, class:"form-control", value:@user.email,required:true%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :phone, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
            <%= f.text_field :phone, class:"form-control", values:@user.phone,required:true%>
        </div>
    </div>
 
    <% if current_user.role == "U" %>
    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :address, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
            <%= f.text_field :street ,class:"form-control",placeholder:"Street", value:@user.address.nil? ? "":@user.address.street,required:true%>
        </div>
    </div>
 
    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-label form-control-label"></label>
        </div>
        <div class="col-md-3">
            <%= f.text_field :city, class:"form-control", placeholder:"City", value:@user.address.nil? ? "" : @user.address.city,required:true%>
        </div>
        <div class="col-md-3">
            <%= f.text_field :pincode, class:"form-control", placeholder:"Pincode",value:@user.address.nil? ? "" : @user.address.pincode,required:true%>
        </div>
        <div class="col-md-3">
            <%= f.text_field :state, class:"form-control", placeholder:"State", value:@user.address.nil? ? "" : @user.address.state,required:true%>
        </div>
    </div>
    <% end %>
    
    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :image, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
           <%= f.file_field :image%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :password, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
            <%= f.password_field :password, class:"form-control", value:"dummyvalue",required:true%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <%= f.label :confirm_password, class:"col-form-label form-control-label"%>
        </div>
        <div class="col-md-9">
           <%= f.password_field :confirm_password, class:"form-control", value:"dummyvalue",required:true%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-label form-control-label"></label>
        </div>
        <div class="col-md-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
    <% end %>